@import '@db-ui/core/sources/css/rollup.assets-paths';
@import '@db-ui/core/sources/css/enterprise/db-ui-core';

a.elm-button {
  text-decoration: none;
}

.btn-group {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.rea-main {

  @media screen and (min-width: 1088px) {
    max-width: calc(100vw - 32px);
    width: calc(100vw - 32px);
  }
  @media screen and (min-width: 1280px) {
    max-width: calc(100vw - 32px);
    width: calc(100vw - 32px);
  }
  @media screen and (min-width: 1472px) {
    max-width: calc(100vw - 32px);
    width: calc(100vw - 32px);
  }
}
